<nav id="sidebar">
  <div class="custom-menu">
    <button type="button" id="sidebarCollapse" class="btn" style="background-color: #1a1b1f ; border-color: #1a1b1f;">
      <i class="fa fa-bars" style="color: white;"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
  </div>
  <div class="p-4 pt-5">
    <h1><a href="index.html" class="logo">Splash</a></h1>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Utilsateurs</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a [routerLink]="['/administrateurs']">administrateurs</a>
          </li>
          <li>
            <a [routerLink]="['/etudiants']">Etudiants</a>
          </li>
          <li>
            <a [routerLink]="['/profs']">Professeurs</a>
          </li>
          <li>
            <a [routerLink]="['/ajoutUtilisateur']">Créer utilisateur</a>
          </li>

        </ul>
      </li>

    </ul>

    <div class="mb-5">

      <form action="#" class="colorlib-subscribe-form">
        <div class="form-group d-flex">
          <div class="icon"><span class="icon-paper-plane"></span></div>
          <a class="btn" style="color: white;background-color: #19B3D3;" (click)="loginService.logout()">Logout</a>
        </div>
      </form>
    </div>

    <div class="footer">
      <p>

        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script><br> All rights reserved
      </p>
    </div>

  </div>
</nav>
